<mat-card class="mt20">
    <div class="container">
     <div class="row">
       <div class="col-md-12">
         <mat-card-header>
           <mat-card-title>
             Bienvenido administrador
           </mat-card-title>
         </mat-card-header>
         <mat-card-subtitle>Panel de administrador</mat-card-subtitle>
         <mat-card-content class="ml30">
           <h1></h1>
           <p></p>
           <mat-divider></mat-divider>
           <br>
           <h1>Sus funciones : </h1>
           <ul>
             <li>Gestionar las	categorías</li>
             <li>Gestionar los exámenes</li>
             <li>Asignar exámenes a distintas categorías</li>
             <li>Gestionar las preguntas</li>
             <li>Asignar preguntas a cada examen</li>
           </ul>
           <mat-divider></mat-divider>
           <br>
         </mat-card-content>
       </div>
     </div>
    </div>
 </mat-card>
 
