<div class = "bootstrap-wrapper">
    <div class = "container-fluid">
      <div class = "row">
        <div class = "col-md-3">
          <app-sidebar></app-sidebar>
        </div>
  
        <div class = "col-md-9">
          <router-outlet></router-outlet>
        </div>
      </div>
    </div>
  </div>
  

