<h1 class="mt20">Preguntas de {{ titulo }}</h1>
<div class="bootstrap-wrapper">
  <div class="row">
    <div class="col-md-12">
      <div class="container text-center">
        <button
        mat-raised-button
        color="primary"
        [routerLink] = "'/dashboard/admin/add-pregunta/'+examenId+'/'+titulo">
        Agregar pregunta
        </button>
      </div>
      <mat-card *ngFor = "let p of preguntas; let i = index" class="mt20">
        <mat-card-content>
          <p>
            <b>{{ i + 1}})</b>
            <span class="ml20" [innerHTML] = "p.contenido"></span>
          </p>
          <div class="container-fluid">
            <div class="row">
              <div class="col-md-6">
                <p>1)<b> {{ p.opcion1 }}</b></p>
              </div>
              <div class="col-md-6">
                <p>2)<b> {{ p.opcion2 }}</b></p>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <p>3)<b> {{ p.opcion3 }}</b></p>
              </div>
              <div class="col-md-6">
                <p>4)<b> {{ p.opcion4 }}</b></p>
              </div>
            </div>
            <mat-divider></mat-divider>
            <p class="mt20">
              <b>Respuesta correcta : {{ p.respuesta }}</b>
            </p>
          </div>
        </mat-card-content>
        <mat-card-actions>
          <button mat-button (click) = "eliminarPregunta(p.preguntaId)" color="warn">Eliminar</button>
          <button mat-button [routerLink] = "'/dashboard/admin/pregunta/'+p.preguntaId" color="primary">Actualizar</button>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>
</div>

