<ngx-ui-loader
   fgsColor = "#A569BD"
   pbColor = "#A569BD"
   text = "Espere por favor..."
   textColor = "#A569BD">
</ngx-ui-loader>

<div ngxUiLoaderBlurred (blur) = "10">
    <router-outlet></router-outlet>
</div>


