<div class="bootstrap-wrapper">
    <div class="container">
      <div class="row mt20">
        <div class = "col-md-6 offset-md-3 text-center">
          <h1>Bienvenido al portal de examenes</h1>
          <span>
            Si no estas registrado, registrate <a  [routerLink]="'/signup'"><b>aca</b></a> 
          </span><br><br>
          <span>
            <a  [routerLink]="'/login'"><h3><b>INICIO</b></h3></a> 
          </span>
        </div>
      </div>
    </div>
</div>
