<mat-card>
    <h1>Actualizar examen</h1>
    <div class="row">
      <div class="col-md-8 offset-md-2">
        <form *ngIf = "examen" (submit) = "actualizarDatos()">
          <mat-form-field class="w100" appearance="fill">
            <mat-label>Título</mat-label>
            <input
            [(ngModel)] = "examen.titulo"
            type="text"
            name="titulo"
            placeholder="Digite el título"
            required
            matInput>
          </mat-form-field>
          <mat-form-field class="w100" appearance="fill">
            <mat-label>Descripción</mat-label>
            <textarea
            [(ngModel)] = "examen.descripcion"
            type="text"
            name="descripcion"
            placeholder="Digite la descripción"
            matInput
            rows="8"></textarea>
          </mat-form-field>
  
          <div class="row">
            <div class="col-md-6">
              <mat-form-field class="w100" appearance="fill">
                <mat-label>Puntos máximos</mat-label>
                <input
                [(ngModel)] = "examen.puntosMaximos"
                type="text"
                name="puntosMaximos"
                placeholder="Digite la cantidad de puntos"
                matInput>
              </mat-form-field>
            </div>
            <div class="col-md-6">
              <mat-form-field class="w100" appearance="fill">
                <mat-label>Número de preguntas</mat-label>
                <input
                [(ngModel)] = "examen.numeroDePreguntas"
                type="text"
                name="numeroDePreguntas"
                placeholder="Digite el número de preguntas"
                matInput>
              </mat-form-field>
            </div>
          </div>
  
          <mat-slide-toggle class="mt20" name = "activo" [(ngModel)] = "examen.activo" color="primary">
            Estado de publicación
          </mat-slide-toggle>
  
          <mat-form-field appearance="fill" class="mt20 w100">
            <mat-label>Categorías</mat-label>
            <mat-select name="categoria" [(ngModel)] = "examen.categoria.categoriaId">
              <mat-option *ngFor = "let c of categorias" [value] = "c.categoriaId">
                {{ c.titulo }}
              </mat-option>
            </mat-select>
          </mat-form-field>
  
          <div class="container text-center">
            <button mat-raised-button color="primary">Guardar</button>
          </div>
        </form>
      </div>
    </div>
  </mat-card>
  
  
